.single {
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    box-shadow: 1px 1px 5px #8c878790;
}
.single:hover{
    border-left: 8px solid #4979ff;
}